/* HIDE RADIO */
.radio-image {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input[name="kit_id"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.radio-image + img {
    cursor: pointer;
}

input[name="kit_id"]:checked + #all{
    outline: 5px solid #f2a714;
}

/* CHECKED STYLES */
.radio-image:checked + img {
    outline: 5px solid #f2a714;
}

.roof-img {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 5px;
}

.roof-img:hover {
    transition: width 0.2s;
    border: 4px solid #f2a714;
}
.proposalData {
    color: #9ca3af;
    font-size: 13pt;
}

.discount {
    background-color: #eaeaea !important;
}

.my-box-shadow {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 10%);
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
}

#roof_div {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center !important;
}

.my-box-shadow:hover {
    transition: width 0.2s;
    border: 4px solid #f2a714;
}


@media (max-width: 866px) {

    #proposal-filters, #client-filters {
        display: block !important;
    }

    table {
        display: block !important;
        overflow: auto !important;
    }

    #generate-proposal {
        justify-content: start !important;
    }

    .discount {
        margin: 5px;
    }

    #roof_div {
        flex-direction: column;
    }
}
