.side-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background: $alluz-yellow;
    box-shadow: 10px 0 0 $body-backgound;
    border-right: 5px solid $alluz-white;
    padding: 0 5px;
    overflow-x: hidden;
    transition: width 0.5s;
    overflow-y: unset;
}

.side-navigation:hover {
    width: 300px;
}

.side-navigation ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 60px;
}

.side-navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.side-navigation ul li.side-active {
    background: $alluz-white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side-navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: $alluz-white;
}

.side-navigation ul li a:hover {
    font-weight: 900;
}

.side-navigation ul li a.side-active {
    color: $alluz-yellow !important;
}

.side-navigation ul li a  .side-icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.side-navigation ul li a .side-icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.side-navigation ul li.side-active a .side-icon ion-icon {
    color: $alluz-yellow ;
}

.side-navigation ul li a .side-title  {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    color: #fff;
}

.side-navigation ul li.side-active a .side-title {
    color: $alluz-yellow;
}

.side-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-logo:hover {
    cursor: pointer;
}

.side-logo-img {
    margin-top: 20px;
}

.mob-navigation {
    display: none;
}

//------------------MOBILE------------------------



@media (max-width: 866px) {

    .side-navigation {
        display: none !important;
    }

    .mob-navigation {
        display: flex;
    }

    .top-nav {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #00BAF0;
        background: linear-gradient(to left, #eec125, #eea849);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #FFF;
        height: 70px;
        padding: 1em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu > li {
        margin: 0 1rem;
        overflow: hidden;
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    @media (max-width: 700px) {
        .menu-button-container {
            display: flex;
        }
        .menu {
            position: absolute;
            top: 0;
            margin-top: 70px;
            left: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        #menu-toggle ~ .menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
            border: 1px solid #ff9700;
            height: 2.5em;
            padding: 0.5em;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .menu > li {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0.5em 0;
            width: 100%;
            color: white;
            background-color: #ff9700;
        }
        .menu > li:not(:last-child) {
            border-bottom: 1px solid #FF9700FF;
        }
    }

}
