.p-yellow-button {
    border-radius: 50px;
    color: #ffb800;
    border: 3px solid #ffb800;
    background: #fff;
    padding: 5px 15px;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
}

.p-red-button {
    background-color: #ffb800;
    text-decoration: none;
    width: 240px;
    border-radius: 3px;
    color: #fff;
    padding: 5px 5px;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

a ion-icon {
    padding-right: 10px;
}

.p-yellow-button:hover {
    color: #fff;
    background: #ffcb4b;
    transform: scale(1.1);
    transition: width 0.3s;
}
.p-red-button:hover {
    color: #fff;
    transform: scale(1.1);
    transition: width 0.3s;
}
