.p-yellow-button {
    border-radius: 9px;
    color: #161616;
    border: 1px solid #ffbc0e;
    background: linear-gradient(90deg, #f4a409 0%, #ffbc0e 100%);
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
}

.p-red-button {
    background: #212738;
    text-decoration: none;
    width: 240px;
    border-radius: 8px;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333c52;
}

a ion-icon { padding-right: 10px; }

.p-yellow-button:hover,
.p-red-button:hover {
    color: #fff;
    filter: brightness(1.06);
    transition: all 0.2s ease;
}
