.mt50 {
    margin-top: 50px !important;
    margin-left: 20px;
}

.mt30 {
    margin-top: 30px !important;
    margin-left: 20px;
}

.mt10 {
    margin-top: 10px !important;
    margin-left: 20px;
}

.mb20 {
    margin-bottom: 20px !important;
}
